div.navbar{
    font-size: large;
    font-weight: bold;
}

div.month {
    background-color: #a4facc;
    width: 100%;
    height: 10em;
    text-align: center;
}

button.button-month {
    position: relative;
    width: 10em;
    height: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

button.button-month:hover {
    background-color: #8bd0a8;
}

button.prev-month {
    float: left;
}

button.next-month {
    float: right;
}

p.month-header {
    font-size: 3em;
    padding-top: 38px;
}

ul.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

th.weekday-today {
    background-color: #a7f1bf;
}

th {
    background-color: #666;
    padding: 10px;
    text-align: center;
    height: 4em;
}

div.days {
    background-color: #f0faf3;
    position: absolute;
    width: 100%;
    height: calc(100vh - 15em);
}

table.days_table {
    position: absolute;
    width: inherit;
    height: inherit;
}

td.day-today {
    border: 2px solid #001511;
}

th {
    background-color: #ecfdf4;
    padding: 10px;
    text-align: center;
    width: 14.3%;
}

td.day-not-in-month{
    color: hotpink;
}

table.days_table td {
    padding: 8px;
    text-align: center;
}

table.days_table td:hover{
    background-color: blue;
}

button.add-calender-entry {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: #a0a0a0;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: 0 0 15px 0 black;
}
button.add-calender-entry:hover {
    background-color: #a3f6ac;
}

div.new-entry-form {
    position: relative;
    display: none;
    margin: 0 auto;
    padding: 10px;
    width: 420px;
    background-color: gray;
}

table.new-entry-form td.close-new-entry {
    text-align: right;
}

table.new-entry-form td.close-new-entry svg:hover {
    background: blueviolet;
}

div.appointments-at-day {
    position: relative;
    display: none;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: 600px;
    background-color: gray;
}

p.appointments-at-day-text {
    width: 440px;
    text-align: center;
    font-size: large;
}

div.appointments-at-day-heading svg{
    float: right;
}

div.appointments-at-day svg:hover{
    background: blueviolet;
}

div.appointments-at-day-content li {
    list-style: none;
}

li.selected {
    background: lightblue;
}

.blur{
    filter: blur(4px);
}